<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scalable=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>busayo</title>
    <link rel="stylesheet" type="text/css" href="static/main.css" />	
	<link href="static/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body class="content">
        
            <div id="header">
                <h1>BUSAYO ALABI</h1>
           
             </div> 
             <nav class="navbar" >
                <div class="navbar__toggle" id="mobile-menu">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
                </div>
                
                  <ul>
                      <li><a href="/">About</a></li>
                      <li><a  href="/education">Education</a></li>
                      <li><a  href="/skills">Skills</a></li>
                      <li><a class="active" href="#projects">Projects</a></li>
                      <li><a href="/thoughts">Thoughts</a></li>
                      <li><a href="/photography">Photography</a></li>
                  </ul>
              </nav>
              <a name = "learning" ></a>
              <section id="home">
                <div class="main">
                   
              <!-- <section class="parallax2">
                <div class="parallax-inner"></div>
            </section> -->
            <div class="holding">
              <div class="internal2" onclick="location.href='sequential.html';" style="cursor:pointer;"><img src="static/img/seq.jpeg" class="learnimg"><h2>SEQUENTIAL BLINKING</h2><p>In this project, I learnt how to use the 
                Adruino Uno microcontoller with a breadboard and some lights to make a sequential light </p></div>
              <div class="internal1" onclick="location.href='zumoline.html';" style="cursor:pointer;"><img src="static/img/zumo.jpeg" class="learnimg"><h2>ZUMOSHIELD LINE FOLLOWER</h2><p>In this project, I learnt how to use the 
                Adruino Uno microcontoller and the Pololu zumoshield to build a linefollower </p></div>
                
              <div class="internal3" onclick="location.href ='zumoobject.html';" style="cursor: pointer;"><img src="static/img/zumo.jpeg" class="learnimg" ><h2>ZUMOSHIELD OBJECT AVOIDANCE</h2><p>In this project, I learnt how to use the 
                Adruino Uno microcontoller, the zumoshield robot and 3 sharp IR sensors to build an object avoidance robot </p></div>
            </div>
            
                
                    </div>
                    <p></p>
                    <div class="holding">
                      <div class="internal2" onclick="location.href='comingsoon.html';" style="cursor:pointer;"><img src="static/img/vlan.jpeg" class="learnimg"><h2>VLANS</h2><p>Understanding what Vlans are and what role they play in network configurations using packet tracer</p></div>
                      <div class="internal1" onclick="location.href='comingsoon.html';" style="cursor:pointer;"><img src="static/img/stp.png" class="learnimg"><h2>STP</h2><p>Understanding what spanning tree protocol is what role it plays in network configurations using packet tracer</p></div>
                        
                      <div class="internal3" onclick="location.href ='comingsoon.html';" style="cursor: pointer;"><img src="static/img/routercom.png" class="learnimg" ><h2>END TO END IP COMMUNICATIONS</h2><p>In this project, I learnt how routers communicate with one another and how this various communications can be implemented 
                        on the routers using packet tracer </p></div>
                    </div>
                    
                        
                            </div>
        </section>
        <div class="clearfix"></div>
        <footer>
            <ul class="social">
                <li><a href="https://www.instagram.com/busayo_jee/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/busayo_jee" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSBpDxzVVdwFpgChLfFdBJpBrmjlwblqwzwjRlDFXBnhTHZvHMxfHhQmQwWlncBmpcwjdflV" target="_blank"><i class="fa fa-google"></i></a></li>
        
            </ul>
        </footer>
        <footer class="second">
            <p>&copy;ALABI BUSAYO</p>
        </footer>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-1ad863c7-aa5b-4ed9-b53d-aca0eb59bafa"></div>
        
        
          </body>
        
        <script src="static/js/apps.js"></script>
        <!-- <script src="sticky.js"></script> -->
          </html>