<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scalable=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>busayo</title>
    <link rel="stylesheet" type="text/css" href="main.css" />	
	<link href="css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body class="content">
        
            <div id="header">
                <h1>BUSAYO ALABI</h1>
           
             </div> 
             <nav class="navbar" >
                <div class="navbar__toggle" id="mobile-menu">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
                </div>
                
                  <ul>
                      <li><a href="/index.html">About</a></li>
                      <li><a  href="/education.html">Education</a></li>
                      <li><a  href="/skills.html">Skills</a></li>
                      <li><a href="/learning.html">Projects</a></li>
                      <li><a href="/thoughts.html">Thoughts</a></li>
                      <li><a href="/photography.html">Photography</a></li>
                  </ul>
              </nav>
              <a name = "sequential" ></a>
              <section id="home">
                  <div class="main">
                <div class="thought">
                    
                        
                    
                    <p>
                        <h1>Sequential lights</h1>
                        <h5 class="h5"><i>Source: <a href="https://create.arduino.cc/projecthub/jipenci/sequential-blinking-b147fd">create.arduino.cc</a> </i></h5>
                        <p>
                            <h4><b>Components</b></h4> 
                           </p>
                           <p>
                             Arduino Uno
                           </p>
                           <p>
                             Resistor 10k ohms
                        </p>
                        <p>
                             Breadboard
                        </p>
                        <p>
                            Jumper wires
                       </p>
                       <p>
                        LED lights
                   </p>
                   <p></p>
                   <p>
                    <h4><b>About</b></h4>
                    <p>
                        Below is a Schematic of how the above components are connected
                        <div class="fullimg" id="fullImgbox">
                            <img src="img/seq.jpeg" id="fullImg">
                            <span onclick="closefull()">x</span>
                          </div>
                          <img class="learnimg" src="img/seq.jpeg" onclick="openfull(this.src)" style="cursor: pointer;">
                    </p>
                    <p>
                        <h4>Code</h4>
                        You can view the code on my github by <a href="https://github.com/busayojee/Arduino/blob/main/Arduino/Sequential_blinking/Sequential_blinking.ino" class="twitter">clicking here</a> 
                    </p>
                   </p>
                        </p>
                    </div>
                </div>
        </section>
        <div class="clearfix"></div>
        <footer>
            <ul class="social">
                <li><a href="https://www.instagram.com/busayo_jee/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/busayo_jee" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSBpDxzVVdwFpgChLfFdBJpBrmjlwblqwzwjRlDFXBnhTHZvHMxfHhQmQwWlncBmpcwjdflV" target="_blank"><i class="fa fa-google"></i></a></li>
        
            </ul>
        </footer>
        <footer class="second">
            <p>&copy;ALABI BUSAYO</p>
        </footer>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-1ad863c7-aa5b-4ed9-b53d-aca0eb59bafa"></div>
        
<script>
    var fullImgbox = document.getElementById("fullImgbox");
    var fullImg = document.getElementById("fullImg");
    function openfull(pic){
      fullImgbox.style.display = "flex";
      fullImg.src = pic;
    }
    function closefull(){
      fullImgbox.style.display = "none";
    }
  </script>
          </body>
        
        <script src="apps.js"></script>
        <!-- <script src="sticky.js"></script> -->
          </html>